div {
    /* Les bordures temporaires, ça aide ! */
    border: 1px solid lightgray;
}

body {
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    grid-template-rows: 1.2fr 0.8fr;
    grid-auto-columns: 1fr;
    gap: 2em 2em;
    grid-auto-flow: row;
    grid-template-areas:
      "title receipe"
      "selector receipe";
    height: 100%;
  }
  
  .title { 
    grid-area: title; 
    display: flex;
    align-items: center;
    justify-content: center;
}
  
  .receipe {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto 1.6fr;
    gap: 1em 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "receipe-title receipe-title receipe-title"
      "receipe-ingredients receipe-ingredients receipe-ingredients"
      "receipe-instructions receipe-instructions receipe-instructions";
    grid-area: receipe;
  }
  
  .receipe-title { grid-area: receipe-title; }
  
  .receipe-instructions { grid-area: receipe-instructions; }
  
  .receipe-ingredients {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: .5em 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . ."
      ". . .";
    grid-area: receipe-ingredients;
  }

  .receipe-ingredients div {
      height: 100%;
      width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .selector { grid-area: selector; }
  